.pageBreadcrumb {
  padding: 13px 25px;
}
.pageBreadcrumb .pageTitle {
    margin-bottom: 0px;
    margin-left: 250px;
  font-weight: 700;
}
.pageBreadcrumb .breadcrumb {
  background: 0 0;
  margin-bottom: 0;
  padding: 0;
  margin-top: 8px;
  font-size: 12px;
}

.breadcrumb {
  background: 0 0;
  margin-bottom: 0;
  padding: 0;
  margin-top: 8px;
    font-size: 12px;
    list-style-type: none;
}
.breadcrumb a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 300;
}
.breadcrumb a:hover {
  color: #000;
}
.breadcrumb .breadcrumbItem.active a {
  color: #41b3f9;
}
