.whiteBox {
  background: #fff;
  padding: 25px;
    margin-bottom: 30px;
}
.whiteBox .boxTitle {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
}
.listInline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.listInline .counter {
  font-size: 24px;
  font-weight: 100;
}
.textSuccess {
  color: #7ace4c !important;
}
