

.callChat {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    gap: 8px;
}
.callChat svg {
    color: white;
    width: 16px;
    height: 16px;
}
.userItem {
    position: relative;
}
.userItem:hover .callChat {
    display: flex;
}

.userItem  a {
  width: 100%;
  text-decoration: none;
}

.userItem img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userItem small {
  font-size: 10px;
}

.btnCircle {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    
    align-items: center;
    justify-content: center;

    padding: 0;
    padding-bottom: 2px;
}
